@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

$font : 'Montserrat', sans-serif;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font;
}

.container {
  padding: 20px;
  margin:15vh 20vw;
  width: 1020px;
  height: 650px;
  background-color: #3B3B98;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  color: ghostwhite;
  text-align: center;

  h2, h3 {
    margin: 10px
  }

  .answer {
    border: 1px solid #fff;
    padding: 5px 10px 5px 45px;
    width: 610px;
    text-align: left;
    margin-top: 10px;
    position: relative;
    font-size: 22px;
    cursor: pointer;
    transition: ease-in-out, width .35s ease-in-out;
 
    &.selected, &:hover {
      color: ghostwhite;
      background-color: #182C61;
      .letter {
        color:ghostwhite;
      }    }
    &:focus {
      outline: none;
    }
  }

  .results span{
    &.correct {
    color: #c8ffbb;
    }
    &.failed {
      color: #f27c7c
    }
  }

  .error {
    color: #f27c7c
  }

  .letter {
    color: #4f4c4c;
    width: 30px;
    position: absolute;
    left: 0;
    top: 2.5px;
    text-align: center;
    height: 28px;
    padding: 5px;
    text-transform: uppercase;
    font-size: 23px;
  }

  .btn {
    background-color: #f4f4f4;
    color: #444444;
    padding: 10px 50px;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &.btn-primary {
      outline: none;
      background-color:  #2C3A47;
      color: ghostwhite;
      margin-top: 50px;
      font-weight: 600;
    
      &:hover, &:focus {
        background-color:rgb(35, 47, 58);
        border: #2C3A47;
      }
    }

 

  }
}